.header, .footer {
    padding: 20px;
    background-color: red;
    color: whitesmoke;
    border: 1px solid black;
}

.list-container {
    display: flex;
    justify-content: space-around;
    margin: 50px;
}

.list {
    border: 5px solid gold;
    border-radius: 20px;
}


.footer {
    display: flex;
    justify-content: space-between;
}


.button:link, .button:visited {
    color: white;
    text-decoration: none;
}
    
.button:hover, .button:visited:hover {
    color: white;
    text-decoration: none;
}
    
.button:active, .button:visited:active {
    color: white;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

li {
    padding-right: 30px;
}

h3 {
    text-align: center;
}